<h2>ユーザ作成</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :username, "ユーザ名" %><br />
      <%= f.text_field :username, autofocus: true %>
    </div>
    <br><br>

  <div class="field">
    <%= f.label :email, "email" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
    <br><br>
  <div class="field">
    <%= f.label :password, "パスワード" %><br />
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
    <br><br>
  <div class="field">
    パスワード（確認）<br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit "登録", :class => 'btn btn-primary' %>
  </div>
<% end %>
<br >
<%= render "devise/shared/links" %>
