<h1>Administrator</h1>
<ul>
  <li><%= link_to "Worker List", users_path %></li>
  <li><%= link_to "Twitter User List", tweet_user_index_path %></li>
  <li><%= link_to "Genre List", genre_index_path %></li>
  <li><%= link_to "Queue", task_queues_index_path %></li>
  <li><%= link_to "Evaluation List", evaluation_list_path %></li>
</ul>