<h2>ロック解除</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "ロック解除の方法を再送する" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
